:root {
    --primary-color: #51B1A6;
    --secondary-color: #F2F2F2;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    border-color: #3E8E83;
    background-color: #3E8E83;
}

.btn-outline-primary {
    background-color: transparent;
    color: var(--primary-color);
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-outline-primary:hover {
    border-color: #3E8E83;
    background-color: var(--primary-color);
    color: #fff;
}

.nav-link {
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: var(--primary-color);
}

.nav-link.active {
    color: var(--primary-color) !important;
}

.hero {
    padding: 100px 0;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.card-car {
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card-car:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-car img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-car .card-body {
    padding: 0;
}

.card-car .card-body .card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.card-car .card-body .card-text {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn-search {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-input {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
}